name: Deploy
on:
  push:
    branches: [master]

  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: '24.x'

      - run: npm install
      - run: npm run build
      - run: npm run test

      - name: upload build
        uses: actions/upload-pages-artifact@v3
        with:
          path: './dist'

  deploy:
    runs-on: ubuntu-latest

    needs: build

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy gh pages
        id: deployment
        uses: actions/deploy-pages@v4
